In [1]:
import pandas as pd

In [46]:
results2006 = pd.read_html('https://www.formula1.com/en/results.html/2006/drivers.html')
results2006 = results2006[0]

In [47]:
results2006.head()

,Unnamed: 0,Pos,Driver,Nationality,Car,PTS,Unnamed: 6
0,NaN,1,Fernando Alonso ALO,ESP,Renault,134,NaN
1,NaN,2,Michael Schumacher MSC,GER,Ferrari,121,NaN
2,NaN,3,Felipe Massa MAS,BRA,Ferrari,80,NaN
3,NaN,4,Giancarlo Fisichella FIS,ITA,Renault,72,NaN
4,NaN,5,Kimi Räikkönen RAI,FIN,McLaren Mercedes,65,NaN

In [48]:
results2006['year']=2006

In [49]:
results2007 = pd.read_html('https://www.formula1.com/en/results.html/2007/drivers.html')
results2007 = results2007[0]
results2007['year']=2007

In [50]:
results2008 = pd.read_html('https://www.formula1.com/en/results.html/2008/drivers.html')
results2008 = results2008[0]
results2008['year']=2008

In [51]:
results2009 = pd.read_html('https://www.formula1.com/en/results.html/2009/drivers.html')
results2009 = results2009[0]
results2009['year']=2009

In [52]:
results2010 = pd.read_html('https://www.formula1.com/en/results.html/2010/drivers.html')
results2010 = results2010[0]
results2010['year']=2010

In [53]:
results2011 = pd.read_html('https://www.formula1.com/en/results.html/2011/drivers.html')
results2011 = results2011[0]
results2011['year']=2011

In [54]:
results2012 = pd.read_html('https://www.formula1.com/en/results.html/2012/drivers.html')
results2012 = results2012[0]
results2012['year']=2012

In [55]:
results2013 = pd.read_html('https://www.formula1.com/en/results.html/2013/drivers.html')
results2013 = results2013[0]
results2013['year']=2013

In [56]:
results2014 = pd.read_html('https://www.formula1.com/en/results.html/2014/drivers.html')
results2014 = results2014[0]
results2014['year']=2014

In [57]:
results2015 = pd.read_html('https://www.formula1.com/en/results.html/2015/drivers.html')
results2015 = results2015[0]
results2015['year']=2015

In [58]:
results2016 = pd.read_html('https://www.formula1.com/en/results.html/2016b/drivers.html')
results2016 = results2016[0]
results2016['year']=2016

In [59]:
results2017 = pd.read_html('https://www.formula1.com/en/results.html/2017/drivers.html')
results2017 = results2017[0]
results2017['year']=2017

In [60]:
results2006_2017 = pd.concat([results2006,results2007,results2008,results2009,results2010, results2011,results2012,results2013,results2014,results2015,results2016,results2017])
# results2006_2017['DRIVER'] = results2006_2017['Driver']
# results2006_2017 = results2006_2010.rename(columns = {'PTS':'POINTS'})

In [61]:
# results2006_2010 = results2006_2010.rename(columns = {'Pos':'RK'})
# results2006_2010.head()

In [62]:
results2006_2017.head()

,Unnamed: 0,Pos,Driver,Nationality,Car,PTS,Unnamed: 6,year
0,NaN,1,Fernando Alonso ALO,ESP,Renault,134.0,NaN,2006
1,NaN,2,Michael Schumacher MSC,GER,Ferrari,121.0,NaN,2006
2,NaN,3,Felipe Massa MAS,BRA,Ferrari,80.0,NaN,2006
3,NaN,4,Giancarlo Fisichella FIS,ITA,Renault,72.0,NaN,2006
4,NaN,5,Kimi Räikkönen RAI,FIN,McLaren Mercedes,65.0,NaN,2006

In [63]:
def split_string(row):
    string_list = row.split(' ')
    new_string = string_list[0]
    full_name = ''.join(new_string)
    return new_string

In [64]:
results2006_2017['Driver'] = results2006_2017['Driver'].apply(split_string)

In [65]:
results2006_2017.head()

,Unnamed: 0,Pos,Driver,Nationality,Car,PTS,Unnamed: 6,year
0,NaN,1,Fernando,ESP,Renault,134.0,NaN,2006
1,NaN,2,Michael,GER,Ferrari,121.0,NaN,2006
2,NaN,3,Felipe,BRA,Ferrari,80.0,NaN,2006
3,NaN,4,Giancarlo,ITA,Renault,72.0,NaN,2006
4,NaN,5,Kimi,FIN,McLaren Mercedes,65.0,NaN,2006

In [66]:
# del results2006_2017['Unnamed: 0']
# del results2006_2017['Unnamed: 6']
# del results2006_2017['Nationality']
# del results2006_2017['Car']

In [68]:
results2006_2017.to_csv('project2_scraped_results.csv')