In [99]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets
import datetime

In [100]:

races = pd.read_csv('races.csv')
df = pd.read_csv('laps_qual_result_trim.csv')

In [101]:
races.isna().sum()

raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time         731
url            0
dtype: int64

In [102]:
# races = pd.DataFrame(races[races.raceId > 840])

In [103]:
df.isna().sum()

Unnamed: 0           0
raceId               0
driverId             0
grid                 0
position_x         995
positionOrder        0
points               0
laps                 0
fastestLap         253
fastestLapSpeed    253
q_position          21
lap                200
position_y         200
meanlaptime        200
fastlaptime        200
dtype: int64

In [106]:
laps_qual_results_races = pd.merge(df, races, on = ['raceId'], how = 'left')

In [107]:
del df['Unnamed: 0']

In [109]:
scraped_results = pd.read_csv('project2_scraped_results.csv')

In [110]:
scraped_results['forename'] = scraped_results['Driver']

In [114]:
del scraped_results['Driver']

In [115]:
del scraped_results['Unnamed: 0']

In [116]:
drivers = pd.read_csv('drivers_1.csv')

In [117]:
drivers.describe()

         driverId     number
count  842.000000  38.000000
mean   421.540380  30.500000
std    243.275985  27.682319
min      1.000000   2.000000
25%    211.250000  10.250000
50%    421.500000  21.500000
75%    631.750000  38.250000
max    843.000000  99.000000

In [118]:
laps_qual_results_races_drivers = pd.merge(laps_qual_results_races, drivers, on = ['driverId'], how = 'left')

In [119]:

# del laps_qual_results_races_drivers['url_x']
# del laps_qual_results_races_drivers['url_y']
# del laps_qual_results_races_drivers['name']
# del laps_qual_results_races_drivers['date']
# del laps_qual_results_races_drivers['time']
laps_qual_results_races_drivers.isna().sum()

Unnamed: 0            0
raceId                0
driverId              0
grid                  0
position_x          995
positionOrder         0
points                0
laps                  0
fastestLap          253
fastestLapSpeed     253
q_position           21
lap                 200
position_y          200
meanlaptime         200
fastlaptime         200
year                  0
round                 0
circuitId             0
driverRef             0
number             1800
code                  0
forename              0
surname               0
dob                   0
nationality           0
dtype: int64

In [120]:
complete_race_level_data = pd.merge(laps_qual_results_races_drivers, scraped_results, on = ['forename', 'year'], how = 'left')

In [124]:
complete_race_level_data.shape

(5174, 27)

In [125]:
complete_race_level_data.describe()

,Unnamed: 0,raceId,driverId,grid,position_x,positionOrder,points,laps,fastestLap,q_position,lap,position_y,meanlaptime,fastlaptime,year,round,circuitId,number,Pos,PTS
count,5174.000000,5174.000000,5174.000000,5174.000000,4145.000000,5174.000000,5174.000000,5174.000000,4910.000000,5152.000000,4963.000000,4963.000000,4963.000000,4963.000000,5174.000000,5174.000000,5174.000000,3365.000000,4820.000000,4820.000000
mean,2492.891573,605.649594,292.905682,11.279861,9.343064,11.384036,3.876401,52.076150,42.766395,11.289014,1.591981,10.948821,101794.951345,93403.250050,2011.675300,9.953228,16.583881,23.649926,11.340664,71.073963
std,1408.390503,397.966612,377.670241,6.375831,5.337232,6.394437,6.327759,18.802338,16.509145,6.338210,5.208447,6.189520,23127.560720,13092.821793,3.362226,5.493871,17.721513,23.819498,6.722166,91.564087
min,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,69134.126761,67411.000000,2006.000000,1.000000,1.000000,2.000000,1.000000,0.000000
25%,1284.250000,62.000000,10.000000,6.000000,5.000000,6.000000,0.000000,51.000000,33.000000,6.000000,1.000000,6.000000,88304.257143,83111.500000,2009.000000,5.000000,6.000000,7.000000,6.000000,5.000000
50%,2527.500000,865.000000,21.000000,11.000000,9.000000,11.000000,0.000000,56.000000,45.000000,11.000000,1.000000,11.000000,99149.490909,93344.000000,2012.000000,10.000000,12.000000,17.000000,11.000000,32.000000
75%,3712.000000,926.750000,813.000000,17.000000,14.000000,17.000000,6.000000,65.000000,54.000000,17.000000,1.000000,16.000000,108694.507870,102011.500000,2015.000000,15.000000,18.000000,27.000000,17.000000,96.000000
max,4934.000000,988.000000,843.000000,24.000000,24.000000,24.000000,50.000000,78.000000,78.000000,24.000000,67.000000,24.000000,507859.222222,297225.000000,2017.000000,21.000000,73.000000,99.000000,28.000000,397.000000

In [126]:
complete_race_level_data['PTS'].isna().sum()

354

In [127]:
complete_race_level_data.to_csv('project2_complete_race_level_data.csv')