In [83]:
import pandas as pd

In [84]:
race_level = pd.read_csv('project2_complete_race_level_data.csv')

In [85]:
race_level.head()

,Unnamed: 0,Unnamed: 0.1,raceId,driverId,grid,position_x,positionOrder,points,laps,fastestLap,...,circuitId,driverRef,number,code,forename,surname,dob,nationality,Pos,PTS
0,0,0,18,1,1,1.0,1,10.0,58,39.0,...,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,1.0,98.0
1,1,1,18,2,5,2.0,2,8.0,58,41.0,...,1,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,6.0,60.0
2,2,2,18,3,7,3.0,3,6.0,58,41.0,...,1,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,13.0,17.0
3,3,3,18,4,11,4.0,4,5.0,58,58.0,...,1,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,5.0,61.0
4,4,4,18,5,3,5.0,5,4.0,58,43.0,...,1,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,7.0,53.0

In [86]:
race_level.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'raceId', 'driverId', 'grid',
       'position_x', 'positionOrder', 'points', 'laps', 'fastestLap',
       'fastestLapSpeed', 'q_position', 'lap', 'position_y', 'meanlaptime',
       'fastlaptime', 'year', 'round', 'circuitId', 'driverRef', 'number',
       'code', 'forename', 'surname', 'dob', 'nationality', 'Pos', 'PTS'],
      dtype='object')

In [87]:
del race_level['Unnamed: 0']
del race_level['Unnamed: 0.1']

In [88]:
race_level.shape

(5174, 26)

In [105]:
first3_races = race_level[race_level['round']<4]

In [106]:
first3_races.shape

(826, 26)

In [91]:
race1 = first3_races.loc[first3_races['round'] == 1]

In [92]:
race2 = first3_races.loc[first3_races['round'] == 2]

In [93]:
race3 = first3_races.loc[first3_races['round'] == 3]

In [94]:
race1 = race1.rename(columns = {'raceId':'raceid1', 'grid':'grid1', 'positionOrder':'positionorder1', 'points':'points1', 'fastestLap':'fastestlap1',
       'fastestLapSpeed':'fastestlapspeed1', 'q_position':'qposition1', 'meanlaptime':'meanlaptime1', 'fastlaptime':'fastlaptime1',
       'driverRef':'driverref1', 'DRIVER':'driver1', 'Pos':'pos1', 'Driver':'driver1', 'PTS':'points1' ,'position_x':'position_1'})

In [95]:
race2 = race2.rename(columns = {'raceId':'raceid2', 'grid':'grid2', 'positionOrder':'positionorder2', 'points':'points2', 'fastestLap':'fastestlap2',
      'fastestLapSpeed':'fastestlapspeed2', 'q_position':'qposition2', 'meanlaptime':'meanlaptime2', 'fastlaptime':'fastlaptime2',
     'driverRef':'driverref2', 'DRIVER':'driver2', 'Pos':'pos2', 'Driver':'driver2', 'PTS':'points2', 'position_x':'position_2'})

In [96]:
race3 = race3.rename(columns = {'raceId':'raceid3', 'grid':'grid3', 'positionOrder':'positionorder3', 'points':'points3', 'fastestLap':'fastestlap3',
      'fastestLapSpeed':'fastestlapspeed3', 'q_position':'qposition3', 'meanlaptime':'meanlaptime3', 'fastlaptime':'fastlaptime3',
      'driverRef':'driverref3', 'DRIVER':'driver3','Pos':'pos3', 'Driver':'driver3', 'PTS':'points3', 'position_x':'position_3'})

In [116]:
races = pd.merge(race1, race2, on = ['driverId','year'], how = 'left')

In [118]:
season_level = pd.merge(race3, races1_2, on = ['driverId','year'], how = 'left')

In [126]:
season_level = season_level.drop_duplicates(subset=['year', 'driverId'], keep = 'first')

In [130]:
season_level.to_csv('project2_season_level.csv')

(264, 74)

In [109]:
race1.describe()

,raceid1,driverId,grid1,position_1,positionorder1,points1,laps,fastestlap1,qposition1,lap,position_y,meanlaptime1,fastlaptime1,year,round,circuitId,number,pos1,points1
count,274.000000,274.000000,274.000000,185.000000,274.000000,274.000000,274.000000,249.000000,274.000000,251.000000,251.000000,251.000000,251.000000,274.000000,274.0,274.000000,173.000000,255.000000,255.000000
mean,573.021898,279.226277,10.843066,8.027027,11.419708,3.843066,44.861314,37.184739,11.313869,1.577689,10.529880,101004.524080,94397.227092,2011.489051,1.0,1.350365,23.248555,11.250980,70.727451
std,404.762644,373.823850,6.395469,4.638488,6.476425,6.254157,19.592060,14.771581,6.380777,4.877391,6.067792,11425.237536,10366.955908,3.370018,0.0,0.761637,23.250945,6.681723,91.076692
min,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,88427.068966,85235.000000,2006.000000,1.0,1.000000,2.000000,1.000000,0.000000
25%,53.000000,10.000000,5.000000,4.000000,6.000000,0.000000,38.250000,24.000000,6.000000,1.000000,5.000000,94591.172414,89292.000000,2009.000000,1.0,1.000000,7.000000,6.000000,5.500000
50%,860.000000,20.500000,11.000000,8.000000,11.000000,0.000000,56.000000,41.000000,11.000000,1.000000,10.000000,97565.789474,91415.000000,2012.000000,1.0,1.000000,17.000000,11.000000,32.000000
75%,900.000000,812.750000,16.000000,12.000000,17.000000,6.000000,57.000000,49.000000,17.000000,1.000000,15.500000,100027.440241,93352.000000,2014.000000,1.0,1.000000,27.000000,16.500000,96.000000
max,969.000000,841.000000,24.000000,18.000000,24.000000,25.000000,58.000000,58.000000,24.000000,48.000000,24.000000,154479.000000,154479.000000,2017.000000,1.0,3.000000,99.000000,26.000000,397.000000

In [110]:
race2.describe()

,raceid2,driverId,grid2,position_2,positionorder2,points2,laps,fastestlap2,qposition2,lap,position_y,meanlaptime2,fastlaptime2,year,round,circuitId,number,pos2,points2
count,276.000000,276.000000,276.000000,211.000000,276.000000,276.000000,276.000000,258.000000,275.000000,262.0,262.000000,262.000000,262.000000,276.000000,276.0,276.000000,175.000000,258.000000,258.000000
mean,576.579710,283.271739,11.373188,8.890995,11.416667,3.708333,45.137681,38.147287,11.418182,1.0,10.854962,113681.909178,100682.236641,2011.514493,2.0,3.072464,23.600000,11.341085,69.947674
std,404.401849,375.470346,6.400728,5.031564,6.426956,6.126625,18.240691,15.029207,6.373104,0.0,6.124034,23149.949043,7369.088458,3.370968,0.0,3.922221,23.854685,6.696879,90.831354
min,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.0,1.000000,96836.741379,88358.000000,2006.000000,2.0,1.000000,2.000000,1.000000,0.000000
25%,54.000000,10.000000,6.000000,5.000000,6.000000,0.000000,34.500000,31.000000,6.000000,1.0,6.000000,100842.315476,96784.250000,2009.000000,2.0,2.000000,7.000000,6.000000,5.000000
50%,861.000000,21.000000,11.000000,9.000000,11.000000,0.000000,55.000000,42.000000,11.000000,1.0,11.000000,107209.254545,99768.500000,2012.000000,2.0,2.000000,17.000000,11.000000,31.000000
75%,901.000000,813.000000,17.000000,13.000000,17.000000,6.000000,56.000000,50.000000,17.000000,1.0,16.000000,110855.363636,103279.250000,2014.000000,2.0,2.000000,27.000000,17.000000,95.750000
max,970.000000,841.000000,24.000000,22.000000,24.000000,25.000000,58.000000,58.000000,24.000000,1.0,24.000000,194763.565217,170790.000000,2017.000000,2.0,17.000000,99.000000,26.000000,397.000000

In [111]:
race3.describe()

,raceid3,driverId,grid3,position_3,positionorder3,points3,laps,fastestlap3,qposition3,lap,position_y,meanlaptime3,fastlaptime3,year,round,circuitId,number,pos3,points3
count,276.000000,276.000000,276.000000,226.000000,276.000000,276.000000,276.000000,244.000000,276.000000,268.0,268.000000,268.000000,268.000000,276.000000,276.0,276.000000,175.000000,258.000000,258.000000
mean,577.579710,280.231884,11.336957,9.606195,11.405797,3.862319,49.264493,38.200820,11.340580,1.0,11.029851,106118.927951,100113.485075,2011.514493,3.0,9.847826,24.000000,11.325581,69.967054
std,404.401849,374.316886,6.463228,5.654478,6.464603,6.304621,15.565661,13.291781,6.463319,0.0,6.284086,8040.976581,5958.013640,3.370968,0.0,7.289247,24.378953,6.676706,90.816904
min,3.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.0,1.000000,95911.754386,86045.000000,2006.000000,3.0,1.000000,2.000000,1.000000,0.000000
25%,55.000000,10.000000,6.000000,5.000000,6.000000,0.000000,54.000000,33.000000,6.000000,1.0,6.000000,100915.714286,95966.750000,2009.000000,3.0,3.000000,7.000000,6.000000,5.000000
50%,862.000000,20.500000,11.000000,9.000000,11.000000,0.000000,56.000000,40.000000,11.000000,1.0,11.000000,104938.044643,100546.500000,2012.000000,3.0,17.000000,17.000000,11.000000,31.000000
75%,902.000000,813.000000,17.000000,14.000000,17.000000,6.000000,56.000000,48.000000,17.000000,1.0,16.000000,107363.937500,102581.250000,2014.000000,3.0,17.000000,27.000000,17.000000,95.750000
max,971.000000,840.000000,24.000000,23.000000,24.000000,25.000000,57.000000,57.000000,24.000000,1.0,24.000000,149046.722222,120330.000000,2017.000000,3.0,17.000000,99.000000,26.000000,397.000000

In [131]:
season_level.shape

(264, 74)