In [2]:
import pandas as pd

In [3]:
import fancyimpute

Using TensorFlow backend.

In [4]:
from fancyimpute import KNN

In [26]:
df = pd.read_csv('project2_season_level_clean.csv')

In [27]:
del df['Unnamed: 0']

In [38]:
df.isna().sum()

grid3                   0
positionorder3          0
points3                 0
fastestlap3            32
fastestlapspeed3       32
qposition3              0
meanlaptime3            8
fastlaptime3            8
grid1                   0
positionorder1          0
points1                 0
fastestlap1            22
fastestlapspeed1       22
qposition1              0
meanlaptime1           20
fastlaptime1           20
grid2                   0
positionorder2          0
points2                 0
fastestlap2            15
fastestlapspeed2       15
qposition2              0
meanlaptime2           12
fastlaptime2           12
championship_points    17
dtype: int64

In [29]:
df[df['points2'].isna()]

,grid3,positionorder3,points3,fastestlap3,fastestlapspeed3,qposition3,meanlaptime3,fastlaptime3,grid1,positionorder1,...,fastlaptime1,grid2,positionorder2,points2,fastestlap2,fastestlapspeed2,qposition2,meanlaptime2,fastlaptime2,championship_points
213,18,12,0,40.0,189.183,18,108868.709091,103728.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,19,15,0,40.0,186.157,19,110971.037037,105414.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,20,16,0,43.0,185.192,20,110977.444444,105963.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,11,12,0,36.0,191.962,12,107699.000000,102226.0,11.0,21.0,...,92553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,13,11,0,43.0,201.301,13,100800.035714,96786.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df['championship_points'] = df['championship_points'].fillna(0)

In [23]:
df['points2'] = df['points2'].fillna(0)

In [37]:
df = df[df['points2'].notnull()]

In [40]:
df2 = fancyimpute.KNN(k=5).fit_transform(df)

Imputing row 1/259 with 0 missing, elapsed time: 0.021
Imputing row 101/259 with 2 missing, elapsed time: 0.024
Imputing row 201/259 with 0 missing, elapsed time: 0.027

In [41]:
df3 = pd.DataFrame(df2, columns = df.columns)

In [43]:
df3.to_csv('project2_KNN_v1.csv')

In [42]:
df3.describe()

,grid3,positionorder3,points3,fastestlap3,fastestlapspeed3,qposition3,meanlaptime3,fastlaptime3,grid1,positionorder1,...,fastlaptime1,grid2,positionorder2,points2,fastestlap2,fastestlapspeed2,qposition2,meanlaptime2,fastlaptime2,championship_points
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000
mean,11.455598,11.513514,3.722008,38.171918,195.714189,11.451737,106699.829932,100405.633753,10.957529,11.424710,...,94304.016227,11.432432,11.451737,3.642857,37.556496,198.778950,11.444015,112717.102528,100337.851471,67.187259
std,6.444828,6.486929,6.145517,12.760012,11.206443,6.444800,8817.952455,6434.271210,6.468928,6.421645,...,10022.654017,6.432586,6.441191,6.132489,14.985871,9.209036,6.441730,22613.894350,7221.533125,91.766485
min,1.000000,1.000000,0.000000,2.000000,163.081000,1.000000,95911.754386,86045.000000,0.000000,1.000000,...,85235.000000,1.000000,1.000000,0.000000,2.000000,129.626000,1.000000,96836.741379,88358.000000,0.000000
25%,6.000000,6.000000,0.000000,32.600487,191.371500,6.000000,100904.946429,95843.500000,5.000000,6.000000,...,89333.556360,6.000000,6.000000,0.000000,31.000000,193.698500,6.000000,100251.057468,96786.500000,1.000000
50%,11.000000,11.000000,0.000000,40.000000,195.296000,11.000000,104960.403509,100563.000000,11.000000,11.000000,...,91426.000000,11.000000,11.000000,0.000000,41.000000,200.530000,11.000000,106450.196429,99250.000000,27.000000
75%,17.000000,17.000000,6.000000,48.000000,203.897000,17.000000,107629.425539,102636.500000,16.000000,17.000000,...,93562.978077,17.000000,17.000000,5.500000,50.000000,204.791500,17.000000,110334.827273,103019.500000,94.500000
max,24.000000,24.000000,25.000000,57.000000,221.869000,24.000000,149046.722222,120330.000000,24.000000,24.000000,...,154479.000000,24.000000,24.000000,25.000000,58.000000,216.061000,24.000000,194763.565217,170790.000000,397.000000

In [14]:
df.describe()

,grid3,position_3,positionorder3,points3,laps3,fastestlap3,fastestlapspeed3,qposition3,grid1,position_1,...,grid2,positionorder2,points2,laps_2,fastestlap2,fastestlapspeed2,qposition2,meanlaptime2,fastlaptime2,championship_points
count,346.000000,284.000000,346.000000,346.000000,346.000000,314.000000,314.000000,346.000000,344.000000,239.000000,...,348.000000,348.000000,348.000000,348.000000,324.000000,324.000000,347.000000,328.000000,328.000000,348.000000
mean,10.378613,8.852113,10.765896,4.849711,49.239884,37.917197,196.046057,10.395954,10.107558,7.619247,...,10.933908,10.830460,4.303161,46.419540,39.858025,197.869806,10.985591,114997.602156,100887.487805,77.426724
std,6.524736,5.599025,6.580172,7.062082,15.599618,13.756189,9.903197,6.527701,6.097608,4.574478,...,6.140873,6.358864,6.245636,17.883287,14.021376,8.760371,6.110005,24202.824909,6895.520946,94.210023
min,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,163.081000,1.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,2.000000,129.626000,1.000000,96836.741379,88358.000000,0.000000
25%,4.000000,4.000000,5.000000,0.000000,55.000000,33.000000,191.051250,4.000000,5.000000,4.000000,...,6.000000,5.000000,0.000000,47.750000,36.000000,192.054000,6.000000,101249.391077,97291.750000,6.000000
50%,10.000000,8.000000,10.000000,1.000000,56.000000,40.000000,195.089500,10.000000,10.000000,7.000000,...,11.000000,10.000000,0.000000,56.000000,44.000000,197.535000,11.000000,107915.839286,100842.000000,45.500000
75%,16.000000,13.000000,16.000000,8.000000,56.000000,48.000000,203.336000,16.000000,15.000000,12.000000,...,16.000000,16.000000,8.000000,56.000000,51.000000,203.490250,16.000000,110893.399413,103902.000000,109.250000
max,24.000000,23.000000,24.000000,25.000000,57.000000,57.000000,221.869000,24.000000,24.000000,18.000000,...,24.000000,24.000000,25.000000,58.000000,58.000000,216.061000,24.000000,194763.565217,170790.000000,397.000000